POSTGRES_DB=syspitstops
POSTGRES_USER=syspitstops
POSTGRES_PASSWORD=changeme
POSTGRES_PORT=5432

ConnectionStrings__Default=Host=localhost;Port=5432;Database=syspitstops;Username=syspitstops;Password=changeme

JWT__Issuer=syspitstops
JWT__Audience=syspitstops
JWT__Secret=changeme-em-desenvolvimento-use-32-chars-ou-mais